<%= form_for @track   do |f| %>


    <% if @track.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@track.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @track.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>


    <p>
      <%= f.label :bicycle_id %><br>
      <%= select(:track, :bicycle_id, bicycles_options ) %>
    </p>



    <p>
      <%= f.label :status %><br>
      <%= select(:track, :status, tracks_status_options.map{|status| [status[1], status[0]]} ) %>
    </p>


    <p>
      <%= f.label :distance %><br>
      <%= f.text_field :distance %>
    </p>





    <p>
      <%= f.submit %>
    </p>
<% end %>