<!DOCTYPE html>
<html>
<head>
  <title>Bikes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/tracks">Tracks</a></li>
          <li><a href="/bicycles">Bicycles</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <li><%= link_to t('log_out'), destroy_user_session_path, :method => :delete %></li>
          <% else %>
              <li><a href="<%= url_for(new_user_session_path) %>"><%= t('Log In/Sign Up')%></a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="span12">
      <div>
        <% if notice %>
            <p id="notice" ><%= notice %></p>
        <% end %>
        <% if alert %>
            <p id="notice" ><%= alert %></p>
        <% end %>

      </div>
      <div>
        <%= yield %>
      </div>
    </div>

  </div>
</div>



</body>
</html>
